@* @page"" *@
<h3>FullListOfActivities</h3>
@using System.Collections.Generic


<table class="table">
    <thead>
        <tr>
          
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>
@code {
    List<Lesson> mylesson { get; set; }
    protected override async Task OnInitializedAsync()
    {
     
    }

}
